.panel-heading{
    font-size: 2rem;
    font-family: "Courier New", Courier;
    text-align: center;
}
.panel-body{
    text-align: center;
    box-sizing: content-box;
}

.panel-footer{
    text-align: right;
}